In [22]:
import pandas as pd
from IPython.display import clear_output
import requests
import os

#pip install eiapy

os.environ['EIA_KEY'] = 'pGSYm7fJwZOAuwgo5jGqrOG8wsanmMFVYpaxeZSJ'
API_KEY = os.environ['EIA_KEY']

from eiapy import Category, Series

import time

iid = 'EBA.TEX-ALL.D.H'
url = 'https://api.eia.gov/series/?api_key={}&series_id={}'.format(API_KEY, iid)
print (url)
s = requests.Session()
req = s.get(url)
json_data = req.json()
#print (json_data)


## GET EIA DATA
iid = 'EBA.TEX-ALL.D.H'
ser = Series(iid)
#print (ser.get_data(all_data=True))
#df = pd.DataFrame(ser.get_data(all_data=True)['series'][0]['data'])
df = pd.DataFrame(json_data['series'][0]['data'])
df.columns = ['dateraw', 'demand_mgwhr']
df['date'] = pd.to_datetime(df['dateraw'], format='%Y%m%dT%HZ')
df['hour_zulu'] = [x.hour for x in df['date']]
df['year'] = [x.year for x in df['date']]
del df['dateraw']
df['state'] = 'Texas'
df['dt_loaded'] = pd.Timestamp.date(pd.Timestamp.now())
df = df[['date','hour_zulu','state','demand_mgwhr','dt_loaded','year']]

print (df.head())

https://api.eia.gov/series/?api_key=pGSYm7fJwZOAuwgo5jGqrOG8wsanmMFVYpaxeZSJ&series_id=EBA.TEX-ALL.D.H
                 date  hour_zulu  state  demand_mgwhr   dt_loaded  year
0 2022-03-07 18:00:00         18  Texas         46367  2022-03-07  2022
1 2022-03-07 17:00:00         17  Texas         46753  2022-03-07  2022
2 2022-03-07 16:00:00         16  Texas         46644  2022-03-07  2022
3 2022-03-07 15:00:00         15  Texas         45948  2022-03-07  2022
4 2022-03-07 14:00:00         14  Texas         44807  2022-03-07  2022

In [21]:


#DB Connection

import mysql.connector
from mysql.connector.constants import ClientFlag

config = {
    'user': 'demouser',
    'password': 'demopassword',
    'host': '10.85.176.4',
#    'client_flags': [ClientFlag.SSL],
#    'ssl_ca': 'ssl/server-ca.pem',
#    'ssl_cert': 'ssl/client-cert.pem',
#    'ssl_key': 'ssl/client-key.pem'
}

# now we establish our connection
cnxn = mysql.connector.connect(**config)

config['database'] = 'power'  # add new database to config dict
cnxn = mysql.connector.connect(**config)
cursor = cnxn.cursor()

drop_recent = "delete from power_demand where date >'2021-01-01 00:00:00'"

cursor.execute(drop_recent)

#Get Latest Record from Table to truncate what is added
latest_query=("select max(date) from power_demand")
try:
	cursor.execute(latest_query)
	last_update = cursor.fetchone()
	last_update =last_update[0].strftime('%Y-%m-%d %H:%M:%S')
	#print ("Last Updated:", last_update)
	print ("Last Record in DB:",last_update)
except:
	pass #no results in table
	last_update = '2000-01-01'

	print ("NO RECORDS in DB:",last_update)



#Insert New Records

## Trim Dataframe to new records
#print (df[df['date'] > last_update])
df = df[(df['date'] > last_update)]

print ("New Records:", len(df))


import time
df = df.sort_values(by='date', ascending=True)
for index, row in df.iterrows():
	#print(row['date'], row['hour_zulu'],row['state'],row['demand_mgwhr'],row['dt_loaded'])
	insert_query = ("INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded)"
		" VALUES ('%s', '%s',' %s', '%s', '%s')" %( row['date'], row['hour_zulu'], row['state'], row['demand_mgwhr'], row['dt_loaded']))
	#print (insert_query)
	if row['year'] >= 2022:
		time.sleep(1)
		print ('Inserting Slowly...', insert_query)
	cursor.execute(insert_query)
	cnxn.commit()

Last Record in DB: 2021-01-01 00:00:00
New Records: 10188
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 00:00:00', '0',' Texas', '45943', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 01:00:00', '1',' Texas', '46427', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 02:00:00', '2',' Texas', '45058', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 03:00:00', '3',' Texas', '43430', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 04:00:00', '4',' Texas', '42058', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 05:00:00', '5',' Texas', '40784', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 06:00:00', '6',' Texas', '39336', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 07:00:00', '7',' Texas', '38123', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 08:00:00', '8',' Texas', '37122', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 09:00:00', '9',' Texas', '35936', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 10:00:00', '10',' Texas', '35132', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 11:00:00', '11',' Texas', '34602', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 12:00:00', '12',' Texas', '34451', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 13:00:00', '13',' Texas', '34571', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 14:00:00', '14',' Texas', '34635', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 15:00:00', '15',' Texas', '35606', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 16:00:00', '16',' Texas', '37917', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 17:00:00', '17',' Texas', '39989', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 18:00:00', '18',' Texas', '41835', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 19:00:00', '19',' Texas', '43163', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 20:00:00', '20',' Texas', '44006', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 21:00:00', '21',' Texas', '44248', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 22:00:00', '22',' Texas', '44208', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-01 23:00:00', '23',' Texas', '44337', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 00:00:00', '0',' Texas', '44983', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 01:00:00', '1',' Texas', '46108', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 02:00:00', '2',' Texas', '45944', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 03:00:00', '3',' Texas', '45758', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 04:00:00', '4',' Texas', '45518', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 05:00:00', '5',' Texas', '44805', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 06:00:00', '6',' Texas', '43860', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 07:00:00', '7',' Texas', '42879', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 08:00:00', '8',' Texas', '42167', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 09:00:00', '9',' Texas', '42061', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 10:00:00', '10',' Texas', '42513', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 11:00:00', '11',' Texas', '43467', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 12:00:00', '12',' Texas', '44872', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 13:00:00', '13',' Texas', '46851', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 14:00:00', '14',' Texas', '49306', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 15:00:00', '15',' Texas', '51363', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 16:00:00', '16',' Texas', '52453', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 17:00:00', '17',' Texas', '52302', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 18:00:00', '18',' Texas', '51421', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 19:00:00', '19',' Texas', '50252', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 20:00:00', '20',' Texas', '48522', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 21:00:00', '21',' Texas', '47013', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 22:00:00', '22',' Texas', '46134', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-02 23:00:00', '23',' Texas', '46228', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 00:00:00', '0',' Texas', '48732', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 01:00:00', '1',' Texas', '51676', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 02:00:00', '2',' Texas', '52376', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 03:00:00', '3',' Texas', '52326', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 04:00:00', '4',' Texas', '52010', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 05:00:00', '5',' Texas', '50707', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 06:00:00', '6',' Texas', '49442', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 07:00:00', '7',' Texas', '48507', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 08:00:00', '8',' Texas', '48268', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 09:00:00', '9',' Texas', '48383', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 10:00:00', '10',' Texas', '49062', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 11:00:00', '11',' Texas', '50364', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 12:00:00', '12',' Texas', '52627', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 13:00:00', '13',' Texas', '55643', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 14:00:00', '14',' Texas', '57624', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 15:00:00', '15',' Texas', '57020', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 16:00:00', '16',' Texas', '54314', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 17:00:00', '17',' Texas', '51487', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 18:00:00', '18',' Texas', '48690', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 19:00:00', '19',' Texas', '46316', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 20:00:00', '20',' Texas', '44409', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 21:00:00', '21',' Texas', '42984', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 22:00:00', '22',' Texas', '42357', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-03 23:00:00', '23',' Texas', '42583', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 00:00:00', '0',' Texas', '44939', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 01:00:00', '1',' Texas', '48099', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 02:00:00', '2',' Texas', '49043', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 03:00:00', '3',' Texas', '49360', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 04:00:00', '4',' Texas', '48732', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 05:00:00', '5',' Texas', '47182', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 06:00:00', '6',' Texas', '45512', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 07:00:00', '7',' Texas', '44413', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 08:00:00', '8',' Texas', '43947', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 09:00:00', '9',' Texas', '43944', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 10:00:00', '10',' Texas', '44468', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 11:00:00', '11',' Texas', '45759', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 12:00:00', '12',' Texas', '48311', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 13:00:00', '13',' Texas', '51826', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 14:00:00', '14',' Texas', '53674', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 15:00:00', '15',' Texas', '52660', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 16:00:00', '16',' Texas', '50153', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 17:00:00', '17',' Texas', '47929', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 18:00:00', '18',' Texas', '45797', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 19:00:00', '19',' Texas', '44119', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 20:00:00', '20',' Texas', '42784', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 21:00:00', '21',' Texas', '41715', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 22:00:00', '22',' Texas', '41229', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-04 23:00:00', '23',' Texas', '41362', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 00:00:00', '0',' Texas', '42511', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 01:00:00', '1',' Texas', '44559', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 02:00:00', '2',' Texas', '44416', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 03:00:00', '3',' Texas', '43960', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 04:00:00', '4',' Texas', '42700', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 05:00:00', '5',' Texas', '40772', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 06:00:00', '6',' Texas', '38941', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 07:00:00', '7',' Texas', '37726', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 08:00:00', '8',' Texas', '37244', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 09:00:00', '9',' Texas', '37271', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 10:00:00', '10',' Texas', '37777', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 11:00:00', '11',' Texas', '39028', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 12:00:00', '12',' Texas', '41492', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 13:00:00', '13',' Texas', '45080', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 14:00:00', '14',' Texas', '46898', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 15:00:00', '15',' Texas', '46031', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 16:00:00', '16',' Texas', '44626', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 17:00:00', '17',' Texas', '43394', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 18:00:00', '18',' Texas', '42052', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 19:00:00', '19',' Texas', '41148', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 20:00:00', '20',' Texas', '40672', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 21:00:00', '21',' Texas', '40568', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 22:00:00', '22',' Texas', '40576', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-05 23:00:00', '23',' Texas', '40827', '2022-03-01')
Inserting Slowly... INSERT INTO power_demand (date, hour_zulu, state, demand_mgwhr, dt_loaded) VALUES ('2022-01-06 00:00:00', '0',' Texas', '42028', '2022-03-01')